.timely-test .timely-events-container {max-height:50px !important;}
.timely-test {max-height:100px;border: 2px solid #000;}
.g-content .abstract{color:#fff !important;}
.gsc-search-button{-webkit-appearance:none !important;-moz-appearance:none !important;}
select.g-form-control{padding-right:40px;font-weight:600;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none!important;background:url(../img/dropdown-arrows.png) no-repeat right #ffffff;cursor:pointer;}
select {-webkit-appearance:none !important;-moz-appearance:none !important;background: #ffffff url("../img/dropdown-arrows.png") no-repeat scroll right center;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);cursor: pointer;font-weight: 600;padding-right: 40px;}
.lib-wig select {border: 1px solid #d9dadc;border-radius: 8px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #565a61;display: block;height: 35px;padding: 5px 15px;width: 100%;}
.lib-wig button {margin-top:8px !important;-webkit-appearance:none !important;-moz-appearance:none !important;background-color: #da291c;background-position: 50% center;background-size: 200% auto;border: 1px solid #da291c;border-radius: 60px;color: #fff !important;cursor: pointer;display: inline-block;font-family: Titillium Web,sans-serif;font-size: 0.92em;font-weight: 700;height: 35px;line-height: 33px;margin-bottom: 0;outline: medium none;padding: 0 22px;position: relative;text-align: center;text-decoration: none;text-transform: uppercase;touch-action: manipulation;vertical-align: middle;white-space: nowrap;}
.lib-wig input {-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none!important;}
.lib-wig .g-btn {margin-top:8px !important;}
.lib-wig .g-form-control {margin-top:8px !important;}
.lib-wig-2 button {font-weight:700 !important;margin-top:8px !important;-webkit-appearance:none !important;-moz-appearance:none !important;background: transparent none repeat scroll 0 0 !important;border: 1px solid #a6192e !important;border-radius: 60px;color: #a6192e !important;cursor: pointer;display: inline-block;font-family: Titillium Web,sans-serif;font-size: 0.92em;font-weight: 700;height: 35px;line-height: 33px;margin-bottom: 0;outline: medium none;padding: 0 22px;position: relative;text-align: center;text-decoration: none;text-transform: uppercase;touch-action: manipulation;vertical-align: middle;white-space: nowrap;}
.lib-wig-2 button:hover {background-color:#99172a !important;border:1px solid #99172a !important;color:#fff !important;}
.lib-wig-2 select {border: 1px solid #d9dadc;border-radius: 8px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #565a61;display: block;height: 35px;padding: 5px 15px;width: 100%;}
.lib-wig-2 input {-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none!important;}
.lib-wig-2 .g-btn {margin-top:8px !important;}
.lib-wig-2 .g-btn-2 {margin-top:8px !important;}
.lib-wig-2 .g-form-control {margin-top:8px !important;}
#api_hours_today_iid3478_lid3706 .hours-col-loc {display:none!important;}
ul.lib-list {list-style-image:url('../../images/list-arrows.png');}
ul.lib-list li {margin-left:-15px;}
#mini-calendar {border:none !important;}
#s-lg-embedded-search-widget-1469577342920 .s-lg-form-control {border: 1px solid #d9dadc!important;border-radius: 8px!important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset!important;color: #565a61!important;display: block!important;height: 35px!important;padding: 5px 15px!important;width: 100%!important;}
select.g-form-control[class*="g-icon-"]{background-position:center left, center right;background-repeat:no-repeat;background-color:#fff;border-radius:50px;padding:5px 35px;}
select::-ms-expand{display:none !important;}
body{background-color:#ffffff;}
div.g-drop-cap:first-letter{float:left;font-size:3.5em;line-height:.8em;padding-right:5px;}
div.g-font-large p{font-size:1.15em;line-height:1.55em;}
/*.g-card-content{max-height:190px;}*/
.card-aoi {padding:25px;min-height:200px !important;max-height:auto;}
.card-aoi .g-card-content{max-height:230px !important}
a.social-smuge{color:#fff !important;font-size:1px !important;}
.info-page .ai1ec-event-summary-footer{display:none !important;}
.info-page .ai1ec-subscribe-container{display:none !important;}
.timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-support-centres-filter, .timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-events_venues-filter, .timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-events-for-filter, .timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-cat-filter, .timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-places-filter, .timely-uevents-widget .ai1ec-bf-filter-groups .ai1ec-tag-filter{display:none;}
.single-ai1ec_event #timely-event-poster img{width:70% !important;}
.timely-full-widget .ai1ec-bf-filter-groups .ai1ec-cat-filter, .timely-full-widget .ai1ec-bf-filter-groups .ai1ec-tag-filter{display:none;}
.timely-full-widget .ai1ec-bf-filter-groups .ai1ec-cat-filter{width:100% !important;}
.nav-cal .ai1ec-date .ai1ec-event .ai1ec-popup-trigger{pointer-events:pointer !important;@include opacity(0.7);}
.timely-back-button{display:none;}
.single-ai1ec_event #timely-event-poster{display:none;}
.single-ai1ec_event .ai1ec-categories, .single-ai1ec_event .ai1ec-tags{display:none;}
.single-ai1ec_event #timely-details{width:50%;}
.single-ai1ec_event #description{margin-left:50%;margin-top:-50%;}
@media screen and (max-width:1024px){.single-ai1ec_event #timely-details{width:100% !important;}
.single-ai1ec_event #description{margin:0;}
.ai1ec-single-event p{font-size:18px !important;}
.single-ai1ec_event #timely-description .panel-body{padding:0 !important;}
}
.timely-uevents-widget{width:100%;}
.timely-uevents-widget .ai1ec-date-title.ai1ec-load-view{background:#fff none repeat scroll 0 0;border:1px solid #00a3e0;border-radius:0;box-shadow:none;}
.timely-uevents-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-month{border-radius:0;}
.timely-uevents-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-day, .timely-uevents-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-weekday{color:#00a3e0;}
.timely-uevents-widget .ai1ec-agenda-view .ai1ec-event.ai1ec-expanded, .timely-uevents-widget .ai1ec-agenda-view .ai1ec-event:hover{border:1px solid #fff;box-shadow:none;}
.timely-uevents-widget .ai1ec-agenda-view .ai1ec-event{margin-bottom:30px;padding-top:5px;}
.timely-uevents-widget .ai1ec-agenda-view .ai1ec-date, .timely-uevents-widget .ai1ec-agenda-widget-view .ai1ec-date{border-top:medium none;}
.timely-uevents-widget #ai1ec-event-modal .ai1ec-modal-content{padding:0 15px 15px;}
.timely-uevents-widget .ai1ec-agenda-widget-view .ai1ec-date, .timely-uevents-widget .ai1ec-agenda-view .ai1ec-date{background:transparent none repeat scroll 0 0 !important;}
.timely-uevents-widget .ai1ec-agenda-widget-view .ai1ec-event > a{background:transparent none repeat scroll 0 0;border:none;}
.g-container .events-component .ai1ec-agenda-widget-view{max-width:80% !important;}
.g-container .events-component .ai1ec-agenda-widget-view .ai1ec-date:nth-child(2){clear:both !important;}
.timely-uevents-widget .events-component .timely .ai1ec-agenda-widget-view{max-height:300px !important;}
.ai1ec-popover{display:none !important;}
.timely-full-widget{padding-bottom:100px;width:100%;float:left;}
.timely-full-widget .ai1ec-posterboard-view.ai1ec-posterboard-aligned .ai1ec-end-date-divider{display:none;}
.timely-full-widget .ai1ec-posterboard-time{background-color:#00A3E0 !important;}
.timely-full-widget .ai1ec-date-block-wrap{background-color:#fff !important;border:1px solid #00A3E0 !important;border-radius:0px !important;}
.timely-full-widget .ai1ec-posterboard-view .ai1ec-month{background-color:#00A3E0 !important;}
.timely-full-widget .ai1ec-day{color:#00A3E0 !important;}
.timely-full-widget .ai1ec-weekday{color:#00A3E0 !important;}
.timely-full-widget .ai1ec-posterboard-view .ai1ec-date-block-wrap{text-shadow:none !important;}
.timely-full-widget .ai1ec-load-event{color:#00A3E0 !important;}
.timely-full-widget .ai1ec-posterboard-view .ai1ec-event-wrap{background:#f7f7f8!important;border:1px solid #d9dadc !important;}
.timely-full-widget .ai1ec-posterboard-view footer{background:#f7f7f8!important;border-top:none !important;}
.timely-full-widget .ai1ec-posterboard-view footer::after{background:none !important;}
.timely-full-widget .ai1ec-category{color:#00A3E0 !important;}
.timely-full-widget .ai1ec-date-title.ai1ec-load-view{background:#fff none repeat scroll 0 0;border:1px solid #00a3e0;border-radius:0;box-shadow:none;}
.timely-full-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-month{border-radius:0;}
.timely-full-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-day, .timely-full-widget .ai1ec-date-title.ai1ec-load-view .ai1ec-weekday{color:#00a3e0;}
.timely-full-widget .ai1ec-posterboard-view.ai1ec-posterboard-aligned .ai1ec-event-location{background-color:#f7f7f8 !important;}
.ai1ec-modal-content .single-ai1ec_event .timely-map-row {display:none !important;}
.timely .timely-agenda .timely-event-date-container {
  /*width: 33.33333% !important;*/
  float:left !important;
}

.timely-read-more
{
    display: none;
}

/* Pin-card */
.pin-card-l .ai1ec-load-event {color:#565A61 !important;}
.pin-card-l .ai1ec-posterboard-time {background-color:#565A61 !important;}
.pin-card-l .ai1ec-date-block-wrap{background-color:#F6F7F9 !important;border:1px solid #00A3E0 !important;border-radius:0px !important;}
.pin-card-l .ai1ec-posterboard-view .ai1ec-month{background-color:#00A3E0 !important;}
.pin-card-l .ai1ec-posterboard-view .ai1ec-date-block-wrap{text-shadow:none !important;}
.pin-card-l .ai1ec-day{color:#00A3E0 !important;}
.pin-card-l .ai1ec-weekday{color:#00A3E0 !important;}
.pin-card-l .ai1ec-date-title.ai1ec-load-view .ai1ec-day, .pin-card-l .ai1ec-date-title.ai1ec-load-view .ai1ec-weekday{color:#00a3e0 !important;}
.ai1ec-posterboard-view .ai1ec-event-title {font-size:13px !important;}
.ai1ecv_venue {pointer-events: none !important;color:#565a61 !important;}
.no-subscribe .ai1ec-subscribe-dropdown{display:none !important;}
.card-aoi .sess-link{float:right;margin-top:-30px;}
.ai1ec-agenda-widget-view .ai1ec-event-title, .ai1ec-agenda-widget-view .ai1ec-event-time{color:#005eb8 !important;cursor:pointer;font-weight:600;text-decoration:none;}
.banner .g-container .banner-content a:visited{color:#ffffff;}
*[class*="g-btn-2"]:visited{color:#a6192e !important;}
*[class*="g-btn-2"]:hover{color:#ffffff !important;}
*[class*="g-btn"]:visited{color:#ffffff;}
.col-1of2 .vid-container{margin-top:1em;margin-bottom:1em;}
.vid-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.vid-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
@media (max-width:800px){#hp-banner .banner-nav{bottom:0;}
.single-ai1ec_event .timely-event-page-header .timely-event-page-title {font-size:1em!important;}
#hp-banner .banner-nav a.g-active, #hp-banner .banner-nav a{padding:15px 4px 20px;border:medium none;font-size:0.82em;line-height:1.3em;width:20%;height:75px;display:table-cell;vertical-align:middle;float:none;text-transform:none;position:relative;color:#ffffff;}
.banner-nav .g-container{padding:0 9%;}
.banner-nav a:nth-last-child(n+5):nth-last-child(-n+5):first-child{width:20%;}
.container{padding-left:1em;padding-right:1em;}
}
/* New card CSS */
.feature-container {max-width:850px;margin: 0 auto;}
.g-card-v3 .media-heading a {font-size: 20px;}
.g-card-v3 .media-info a.program-info-session::after {top:0px;}
.g-card-v3 .media-info a.program-vid::after {content:"\f24c" !important;font-family: "Ionicons";font-size: 14px;position: relative;right: -7px;top: 1.5px;font-weight: bold;color:#0068a9;}
.g-card-v3 .media-url {display:none;}

@media (max-width:800px){
    .g-card-v3 .hit {border: none;}
    .g-card-v3 .media-left{float: none;display:block; }
    .g-card-v3 .media-info {display:block;}
    .g-card-v3 .media-info a {color:#981b2b;}
    .g-card-v3 .media-info a::after {color:#981b2b;}
    .g-card-v3 .media-info a::after {color:#981b2b;}
    .g-card-v3 .media-info a.program-vid::after {color:#981b2b;}
    .g-card-v3 .media-abstract {display:none;}
    .g-card-v3 .media-heading a {font-size: 18px;font-weight: 600;}
}
/* TABS fix in mobile */
@media (max-width:800px){
  .g-basic-tabs .g-basic-tabs-inner {white-space:normal;}
  .g-basic-tabs a:not(.g-link-2).g-active {border-bottom:none;}
}

/*
*/
/*.g-card-v3 .media-info a::after {top:1px;}*/
/* Table Code */
.table {width: 100%;max-width: 100%;margin-bottom: 20px;}
.table-responsive {overflow-x: auto;min-height: 0.01%;}
@media screen and (max-width: 767px) {
  .table td {font-size:12px !important;}
  .table {padding: 9px 5px 9px 5px !important;}
  .table-responsive .table {width: 100%;margin-bottom: 15px;overflow-y: hidden;border: 1px solid #dddddd;}
}

/*Styleguide */
.testing .testing-bg {height: 50px;border: 1px solid #d9dadc;}
.testing .testing-unit {background-color: #324053;height: 50px;}

/* Buttons */
*[class*="g-btn"].g-btn-2 {color: #A6192E !important;}
*[class*="g-btn"].g-btn-2:hover, *[class*="g-btn"].g-btn-2:focus {color: #A6192E!important;}



/* New Timely */
.timely3-col .timely-events-container .timely-event-date-container {width:33% !important;float:left !important;}






